@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    padding: 0 !important;
    margin: 0 !important;
    --color-green: #39a900;
    --color-dark-green: #007832;
    --color-blue: #00304D;
    --color-white: #F6F6F6;
    --color-gray: #e9e9e9   ;
    --color-dark-gray: #bebebe;
    --color-black: #1a1a1a;
    --font-weight-title: 700;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;
    --border-radius-box: 26px;
    --border-radius-box-2: 16px;
    --border-radius-box-3: 12px;
}
*{
    font-family: "Work sans";
    letter-spacing: -1.2px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}