.divider__container {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }
  
  .divider__scroll {
    white-space: nowrap;
    background-color: var(--color-dark-gray);
    height: 1.5rem;
    display: flex;
    place-items: center;
  }
  
  .divider__scroll div {
    display: flex;
    gap: 2em;
    
  }
  
  .divider__scroll p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: var(--font-weight-text);
    margin-bottom: 0;
    line-height: 10px;
    letter-spacing: 0;
    color: var(--color-black)

  }
  
  .divider__RightToLeft {
    animation: RightToLeft 30s infinite linear;
  }
  
  @keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  